.post_hd {
  margin: 30px 0;
  text-align: center;

  h1 {
    font-size: 24px;
    font-weight: 900;
    color: color(text);
    line-height: 30px;
    text-transform: uppercase;
    max-width: 450px;
    margin: 0 auto 5px;
  }

  p {
    font-size: 15px;
    line-height: 22px;
    opacity: 0.7;
  }
}

.post_form_block {
  max-width: 620px;
  margin: 0 auto 50px;
  box-shadow: rgb(0 0 0 / 4%) 0px 8px 40px;
  border: 1px solid rgb(238, 240, 241);
  border-radius: 8px;

  .nav {
    margin: 0 !important;
    flex-wrap: nowrap;
    border-bottom: 1px solid #ddd;
  }

  a.nav-link {
    font-size: 18px;
    font-weight: 500;
    padding: 20px 25px;
    line-height: 18px !important;

    &:hover {
      background-color: transparent;
    }

    h4 {
      font-size: 16px;
      font-weight: bold;
      text-transform: capitalize;
      color: #ccc;
    }

    p {
      text-transform: capitalize;
      font-size: 12px;
      color: #bababa;
    }
  }

  a.nav-link.active {
    border-bottom: 3px solid color(theme);

    h4 {
      color: color(theme) !important;
    }
  }

  a.nav-link.selected {
    border-bottom: 3px solid #5cb85c;

    h4 {
      color: color(text) !important;
    }
  }

  .formTab {
    padding: 30px 25px 15px;
  }

  .form_footer {
    margin-top: 10px;
    border-top: 1px solid #ddd;
    padding: 15px 25px;
    text-align: right;

    .btn {
      padding: 6px 20px;
      min-width: auto;
      margin-left: 5px;
    }
  }

  .dropzone {
    min-height: 150px;
    border: 3px dotted #e1e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.form_group {
  margin-bottom: 20px;

  label {
    font-size: 14px;
    font-weight: 500;
    color: #18293b;
    margin-bottom: 5px;

    sup {
      color: color(theme);
      font-size: 18px;
      font-weight: bold;
      top: 0px;
    }

    span {
      font-weight: 400;
      color: #ccc;
      padding-left: 5px;
      font-size: 12px;
    }
  }

  span {
    font-size: 12px;
    color: red;
  }

  .hiddenInput {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }

  .imageUploadLabel {
    color: color(white);
    cursor: pointer;
    min-width: 200px;
  }

  .profileImageBox {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    font-size: 68px;
    color: #fff;
  }

  // .imageUploadLabel {
  //   color: #fff;
  //   cursor: pointer;
  //   position: absolute;
  //   top: 0;
  //   font-size: 0;
  //   left: 0;
  //   width: 200px;
  //   height: 200px;
  //   overflow: hidden;
  // }
}

.feature_group {
  padding: 15px 20px;
  border: 1px solid #eceff2;
  margin-bottom: 20px;
}

.pasts_slide {
  padding: 30px 0;

  h3 {
    font-size: 25px;
    color: #3c4543;
    font-weight: 700;
    padding: 0 0 10px;
    line-height: 28px;

    span {
      font-size: 14px;
      color: #8e8e8e;
      font-weight: 400;
      padding-left: 6px;

      a {
        color: color(theme);
        font-weight: bold;
      }
    }
  }
}

.slide_flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.slide {
  width: calc(100% / 6);
  overflow: hidden;

  a {
    display: block;
    margin: 10px 5px;
  }

  .post_img {
    border-radius: 10px;
    box-shadow: 0 0 5px #dddddd;
    margin-bottom: 15px;
    background: transparent !important;
    overflow: hidden;
    position: relative;
    height: 270px;

    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
      box-shadow: 0 0 1px 1px rgb(0 0 0 / 15%);
    }
  }

  span.featured-btn {
    position: absolute;
    z-index: 5;
    font-size: 11px;
    background: #fdd835;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    padding: 3px 12px 3px 10px;
    line-height: 14px;
    top: 15px;
    left: 0px;
    box-shadow: 1px 2px 1px rgb(0 0 0 / 3%);
    border-radius: 0 15px 15px 0;
  }

  span.fav-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(12, 18, 28, 0.38);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50px;
    color: #fff;
  }

  span.img-icon {
    bottom: 8px;
    left: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    min-width: 40px;
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    justify-content: center;
    background: rgba(12, 18, 28, 0.6);
    border-radius: 50px;
    color: #fff;

    span {
      padding-left: 5px;
      font-size: 10px;
      font-weight: 400;
    }
  }

  .post-details {
    p {
      color: #3c4543;
      font-weight: 500;
      font-size: 14px;
      margin-bottom: 4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    h4 {
      font-size: 18px;
      font-weight: 700;
      color: #232323;
      max-height: 23px;
      margin-bottom: 0;
    }

    .old_price {
      font-size: 13px;
      opacity: 0.5;
    }
  }
}

.category_block {
  padding-bottom: 50px;

  h3 {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.6em;
  }

  p {
    margin-bottom: 5px;
    line-height: 1.6em;
    font-size: 16px;
    opacity: 0.8;
  }

  h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
  }

  h5 {
    font-size: 17px;
    font-weight: 700;
    padding: 20px 0 0;
    line-height: 1.6em;
  }
}

.emptyData {
  padding: 0 5px;
}

.thumbsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;

  .thumb {
    display: inline-flex;
    border-radius: 2px;
    border: 1px solid #eaeaea;
    margin-bottom: 8px;
    margin-right: 8px;
    width: 100px;
    height: 100px;
    padding: 4px;
    box-sizing: border-box;
  }

  .thumbInner {
    display: flex;
    min-width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
}
