.back-top {
  width: 100%;
  text-align: center;
  padding: 15px;

  a {
    color: color(text);
  }
}

.footer_top {
  padding: 50px 0;
  background: #003046;
}

.ftr_box {
  ul {
    li {
      p {
        font-size: 16px;
        font-weight: bold;
        color: color(white);
        padding-bottom: 10px;
      }

      a {
        color: #ddd;
        font-weight: 400;
        display: block;
        padding: 3px 0;
      }
    }
  }
}

._bgfooter {
  background: #002638;
  padding: 30px 0;
}

.footer_bottom {
  display: flex;
  align-items: center;

  .logo {
    margin-right: 25px;
    min-width: 170px;
    max-width: 170px;

    img {
      width: 100%;
    }
  }
}

.ftr-text {
  padding-left: 25px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  color: #6a6a6a;

  h6 {
    font-weight: bold;
    display: block;
    color: #ddd;
    padding-bottom: 5px;
  }

  p {
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: 400;

    a {
      color: color(white);
      opacity: 0.8;
    }
  }
}
