@mixin flex($content, $wrapping) {
  display: flex;
  align-items: center;
  justify-content: $content;
  flex-wrap: $wrapping;
}

@mixin btnTheme {
  border-radius: 7px;
  background-color: color(theme);
  padding: 8px 15px;
  min-width: 99px;
  box-shadow: none;
  font-size: 14px;
  font-weight: 800;
  outline: 0;
}

@mixin btnOutline {
  border-color: color(theme);
  color: color(theme);
  border-radius: 50px;
  padding: 0.75rem 2rem;
  line-height: normal;
  box-shadow: none;
  font-size: 14px;
  font-weight: 600;
  outline: 0;
}
