@import 'media-queries', 'variables', 'mixins', 'layout';

body{
    font-family: $font-stack ;
    font-size: $font-size ;
    font-weight: $font-weight ;
    color: color(text);
}

a{
    color: color(secondary);
    text-decoration: none !important;

    &:hover{
        color: color(accent);
        text-decoration: none;
    }
}
h1,h2,h3,h4,h5,h6 {
    font-family: $font-heading;
    font-weight: 400;
    line-height: 1.75em;
    color: color(theme);
}

p,h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0 !important;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle,.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: color(theme);
    border-color: color(theme);
}
.form-control:focus {
    box-shadow: none;
}
button:focus {
    outline: none !important;
}
:focus{
    outline: none !important;
    box-shadow: none !important;
}
ul{
    list-style: none !important; 
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}

.btn-primary{
    @include btn();

    &:hover{
        @include btn-hover();
    }
}
