/* VARIABLES*/
$colors :(
    primary:#fff,
    secondary:#000,
    accent:#00a1e4 ,
    theme:#00289e,
    text:#1b2e4b,
    gradient:linear-gradient(90deg, rgba(0,161,228,1) 0%, rgb(0, 40, 158) 100%),
    reverse:linear-gradient(90deg, rgba(0,38,156,1) 0%, rgba(0,161,228,1) 100%),
);
$font-size:16px;
$font-size-small:14px;
$font-weight:600;
$font-stack: 'Open Sans', sans-serif;
@function color($color-name){
    @return map-get($colors, $color-name )
};
$margins : (
    'margin10': 10px,
    'margin20': 20px,
    'margin30': 30px,
    'margin40': 40px,
    'margin60': 60px,
    'margin70': 70px,
    'margin80': 80px,
    'margin90': 90px,
    'margin100': 100px,
    'margin150': 150px,
);

@function margin($margin-number){
    @return map-get($margins, $margin-number)
}

$paddings : (
    'padding10': 10px,
    'padding20': 20px,
    'padding30': 30px,
    'padding40': 40px,
    'padding60': 60px,
    'padding70': 70px,
    'padding80': 80px,
    'padding90': 90px,
    'padding100': 100px,
    'padding150': 150px,
);

@function padding($padding-number){
    @return map-get($paddings, $padding-number)
}