* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.price-container {
  max-width: 1140px;
  margin: 50px auto;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.pricing-block h1 {
  text-align: center;
  margin-bottom: 0.938rem;
  font-weight: 600;
  line-height: 1.25;
  color: #1b2e4b;
  font-size: 34px;
}

.pricing-block p {
  color: #696969;
  text-align: center;
  max-width: 550px;
  margin: 0 auto 20px;
}

.btns {
  max-width: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #9629e6;
  overflow: hidden;
  height: 36px;
}

.btns button {
  background: transparent;
  border: 0;
  padding: 10px 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: #9629e6;
  border-radius: 50px;
}

.btns button.active {
  background: #9629e6;
  color: #fff;
}

.flex-listing {
  display: flex;
  justify-content: space-between;
}

.list-box {
  transition: all 0.2s ease 0s;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 12%);
  border-top: 4px solid transparent;
  border-radius: 1rem;
  flex: 1;
  margin: 40px 20px 0;
  padding-bottom: 30px;
  text-align: center;
}

.list-box:hover {
  box-shadow: 0 1rem 3rem rgb(31 45 61 / 13%) !important;
  transform: translate(0, -5px);
  border-top: 4px solid #9629e6 !important;
}

.img {
  padding-top: 1.5rem !important;
  width: 120px;
  margin: 0 auto 30px;
}

.img img {
  object-fit: contain;
  width: 100%;
}

h2.price {
  font-size: 40px;
  line-height: 45px;
  font-weight: 700;
  color: #9629e6;
  margin-bottom: 20px;
}

h2.price sub {
  position: relative;
  bottom: 10px;
  font-size: 24px;
}

h2.price-yearly {
  display: none;
}

h4.name {
  font-weight: 600;
  line-height: 1.25;
  color: #1b2e4b;
  font-size: 18px;
}

ul {
  padding: 30px;
  list-style: none;
}

ul li {
  line-height: 30px;
  font-size: 16px;
  color: #343434;
}

button.btn-purchase {
  border: 1.5px solid #9629e6;
  color: #9629e6;
  border-radius: 10rem;
  position: relative;
  font-size: 0.838rem;
  font-weight: 600;
  padding: 8px 35px;
  line-height: 1.75em;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  background: transparent;
  outline: 0 !important;
  box-shadow: none !important;
}

button.btn-purchase:hover {
  background: #9629e6;
  color: #fff;
}
