/*Dashboard Inner Start From Here*/
.dashboard {
    padding:30px;    
}
/*Sales Product Widget Start From Here*/
.widgets {
    box-shadow: 0 6px 0 0 rgba(0,0,0,.01), 0 15px 32px 0 rgba(0,0,0,.06);
    border: 1px solid #dbdbdb !important;
    border-radius: 10px;
    padding: 20px;
    background: color(primary);
    height: 100%;
}

.mb-30{
    margin-bottom: 30px;
}

.widget-header {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
    text-align: center;
    color: color(theme);
}

.widget-header-projectedit{
    font-size: 14px;
    text-align: left;
    padding-bottom: 10px;
}

.chartBlock {
    border-radius: 5px !important;
    border: 1px solid #dee2e6;
    padding: 5px;
    font-size: 12px;
}

.form-selection {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    label{
        margin-bottom: 0;
        margin-right: 10px;
        font-size: 13px;
        font-weight: 500;
        color: color(secondary);
        opacity: .8;
    }

    .selection {
        width: 300px;
    }
}

#SalesGraph{
    height: 500px;
}

#SalesByStateMap {
    height: 430px;
}

#ProfitRevenue {
    height: 430px;
}

#RevenuePerClient {
    height: 430px;
}

#SalesByStateDrillDown {
    height: 430px;
}

#MonthlyMultiColumnGraph{
    height: 400px;
}

.tableData {    

    table{
        border: 1px solid #dee2e6;
        border-radius: 3px;
        height: 500px;

        thead th {
            vertical-align: middle;
            border: 0;
            font-size: 14px;
            font-weight: 700;
            width: 100%;
            white-space: nowrap;
            padding: 15px 20px;
            background: #f8f8f8;
            border-bottom: 2px solid #dee2e6;
        }


        tbody td {
            vertical-align: middle;
            font-size: 14px;
            font-weight: 500;
            width: 100%;
            white-space: nowrap;
            padding: 15px 20px;
            border-bottom: 1px solid #dee2e6;
            border-top: 0;
            cursor: pointer;
        }

        tbody tr:hover{

            td{
                background: rgba(7, 17, 96, 0.05);
            }
        }

        tbody tr:nth-of-type(odd) {
            background-color: #fff;
        }

        tbody tr:nth-of-type(even) {
            background-color: #fcfcfc;
        }
    }
}


/*Sales Product Widget End*/