.custom-modal{

    .modal-content {
        border: 0;
        border-radius: 15px;
    }

    h5.modal-title {
        font-size: 22px;
        font-weight: 600;
        color:color(theme);
    }    

    .modal-header {
        padding: 15px 20px;
        border-bottom: 1px solid #e5e5e5;

        .close {
            padding: 0;
            margin: 0;
            background: #e4e6eb;
            border-radius: 50px;
            color: #636a73;
            font-size: 18px;
            font-weight: 700;
            opacity: 1;
            width: 30px;
            height: 30px;
            display: block;
            line-height: 30px;
        }
    }

    .modal-body {
        padding: 20px;
        background: #f6f6f6;
        max-height: 70vh;
        overflow-x: scroll;
    }
}