.CardPayableReceivable{

    .Card {

        .cardTXT {
            width: 100%;
        }
        
        h4{
            text-align: center;
            text-transform: capitalize;
            padding-bottom: 12px;
            margin-bottom: 12px !important;
            border-bottom: 1px solid #e4e5e7;
        }

        p{
            text-align: center;
            margin-bottom: 12px !important;
        }

        .btn-amount {
            text-align: center;
            border-radius: 50px;
            background: #e8dee3;
            position: relative;
            z-index: 0;
            padding: 10px;
            color: color(theme);
            font-size: 18px;
            font-weight: 600;
            position: relative;

            &::before{
                content: "$";
            }
        }
    }

    .Card.activeCard{

        h4{
            border-bottom: 1px solid rgba(228,229,231,.28);
        }
    }
}