.cardFlex{
    @include d-flex();
}

.Card {
    border-radius: 10px;
    padding: 20px;
    flex: 1;
    margin: 0 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    border: 1px solid #dbdbdb;
    background: #f4f5f8;
    display: flex;
    align-items: center;
    

    h4 {
        font-size: 18px;
        font-weight: 600;
        color: #727273;
        text-transform: uppercase;
    }

    p {
        font-size: 18px;
        font-weight: 600;
        color: color(theme);
        text-transform: uppercase;
    }

    // &:after{
    //     content: "";
    //     position: absolute;
    //     bottom: -10px;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     width: 0;
    //     height: 0;
    //     border-left: 20px solid transparent;
    //     border-right: 20px solid transparent;
    //     border-top: 10px solid color(theme);
    //     display: none;
    // }

    &:first-child{
        margin-left: 0;
    }

    &:last-child{
        margin-right: 0;
    }
}

.iconSVG {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: color(primary);
    border-radius: 50px;
    margin-right: 20px;
    
    svg{
        width: 30px;
        height: 30px;
        color: color(theme);
    }
}

.Card.activeCard{
    background: color(theme);
    border: 1px solid color(theme);

    h4,p{
        color: color(primary);
    }

    // &:after{
    //     display: block;
    // }
}

.flex-btns{
    flex-wrap: nowrap;
    padding: 20px 0 0;
}

.btn-new{
   display: flex;
   align-items: center;
   margin-left: auto;
   margin-bottom: 20px;

   svg{
       width: 20px;
       margin-right: 5px;
   }
}


.cardInfo {
    background: #f6f6f6;
    height: 137px;
    overflow-y: auto;
    border-radius: 5px;
    border: 1px solid #dee2e6;
    padding: 10px;

    .infoFlex{
        @include d-flex();
        border-bottom: 1px solid #dee2e6;
        padding: 5px 10px;

        &:last-child{
            border-bottom: 0;
        }
    }

    h4{
        font-size: 12px;
        font-weight: 600;
        opacity: .8;
        color: #727273;
    }

    p{
        font-size: 12px;
        color: #464647;
        font-weight: 600;
    }
}

.lookup {
    background: #f6f6f6;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    text-align: center;
    @include d-flex();
    justify-content: space-around;        

    .cardTXT {
        position: relative;
        z-index: 0;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;

        &::after{
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 2px;
            height: 73px;
            background: #dee2e6;
        }

        &:last-child{

            &::after{
                display: none;
            }
        }
    }

    h4 {
        font-size: 18px;
        font-weight: 700;
        color: #8d2638;
        line-height: 1.5;
    }

    p {
        font-size: 14px;
        color: #464647;
        font-weight: 600;
    }
}