.tab-block{

    .nav-tabs {
        border-bottom: 0;
    }

    .nav-link {
        display: block;
        font-size: 14px;
        font-weight: 600;
        color: #727273;
        padding: 8px 30px;
        border: 1px solid #dbdbdb !important;
        border-bottom: 0 !important;
        text-align: center;
        border-radius: 5px 5px 0 0 !important;
        background: #f7f7f7;
        cursor: pointer;
    }

    a.active.nav-link {
        color: color(theme);
        background: color(primary);
        border-top: 4px solid color(theme) !important;
    }
    
    .tab-content {
        padding: 20px;
        border: 1px solid #dbdbdb;
        border-radius: 0 5px 5px 5px;
        background: color(primary);
    }
    
}